html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  transition: 0.3s;
}

.trang-ket-qua {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 45px;
  width: 100%;
  height: auto;
  padding: 135px 202px;
  overflow: hidden;
}

.main-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-shrink: 0;
  gap: 35px;
  width: 1200px;
  height: auto;
  padding: 50px;
  border-radius: 70px;
  background-color: rgba(230, 230, 230, 1);
  overflow: hidden;
}

.main-frame-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}


.notif-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  gap: 10px;
  width: 1094px;
  padding: 20px 30px 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}

.text {
  font-family: "Reddit Sans";
  font-size: 36px;
  font-weight: 600;
  font-style: SemiBold;
  line-height: 150%;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  width: 1035px;
  height: auto;
  text-decoration: none;
}


.next-button-content {
  font-family: "Reddit Sans";
  font-size: 36px;
  line-height: 150%;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  position: absolute;
  top: 8px;
  left: 47.5px;
  height: auto;
}

.next-button {
  display: flex;
  align-items: flex-start;
  flex-shrink: 1;
  width: 340px;
  height: 70px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px #d4d4d4;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.next-button:hover {
  background-color: #ccffcc;
  box-shadow: 0px 0px 0px 0px #d4d4d4;
}