html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  transition: 0.3s;
  font-size: 32px;
}

.trang-loi-khuyen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 45px;
  width: 100%;
  height: auto;
  padding: 135px 202px;
  overflow: hidden;
}

.main-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-shrink: 0;
  gap: 35px;
  width: 65vw;
  height: auto;
  padding: 50px;
  border-radius: 70px;
  background-color: rgba(230, 230, 230, 1);
  overflow: hidden;
}

.title-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 10px;
  width: 100%;
  padding: 20px 30px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.title-text {
  color: rgba(0, 0, 0, 1);
  font-family: Reddit Sans;
  font-weight: 600;
  font-style: SemiBold;
  text-align: center;
  line-height: 150%;
  text-decoration: none;
}

.title-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 10px;
  width: 70%;
}

.arrow-button {
  margin: 10px 20px 0 20px;
  width: 40px;
  height: 50px;
}

.arrow-button {
  transition: transform 0.4s ease;
}

.content-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  gap: 10px;
  width: 100%;
  padding: 20px 30px 40px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.content-title,
.content-text-1,
.content-text-2 {
  color: rgba(0, 0, 0, 1);
  width: 100%;
  font-family: Reddit Sans;
  font-weight: 500;
  font-style: Medium;
  text-align: left;
  line-height: 150%;
  text-decoration: none;
}

.content-title {
  font-weight: 600;
}