html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
}

html {
  line-height: 1.15;
  scroll-behavior: smooth;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  transition: 0.3s;
  font-size: 32px;
}

:root {
  --inner-border-radius: 20px;
  --ibr: var(--inner-border-radius);
}

.trang-ket-qua {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  gap: 45px;
  width: 100vw;
  height: auto;
  padding: 135px 202px;
  overflow: hidden;
}

.main-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-shrink: 0;
  gap: 35px;
  width: 65vmax;
  height: auto;
  padding: 50px;
  border-radius: 70px;
  background-color: rgba(230, 230, 230, 1);
  overflow: hidden;
}

.main-frame-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.notif-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  gap: 10px;
  width: 100%;
  padding: 20px 30px 40px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
}

.text {
  font-family: "Reddit Sans";
  font-weight: 600;
  font-style: SemiBold;
  line-height: 150%;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  width: 100%;
  height: auto;
  text-decoration: none;
}

.button-content {
  width: 100%;
  padding: 10px 40px;
  font-family: "Reddit Sans";
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  height: auto;
}

.button {
  display: flex;
  align-items: flex-start;
  flex-shrink: 1;
  width: auto;
  height: 70px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 4px 0px #d4d4d4;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: #ccffcc;
  box-shadow: 0px 0px 0px 0px #d4d4d4;
}

@media only screen and (max-width: 961px) {

  * {
    font-size: 24px;
  }

  .main-frame {
    width: 90vmin;
    padding: var(--ibr) var(--ibr) var(--ibr) var(--ibr);
  }

  .notif-frame {
    width: 100%;
    gap: 10px;
    padding: 20px 20px 40px;
    border-radius: calc(70px - var(--ibr));
  }

  .button {
    height: 58px;
  }
}